
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Photo Gallery</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>My Photo</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!-- projects section -->
<section class="w3l-gallery pb-5" id="gallery">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 text-center mb-sm-5 mb-4">
            <h5 class="title-small mb-1">Cirtificates</h5>
            <h3 class="title-style">Some of my major cirtificates</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 item">
                <a href="https://github.com/Alvinirob/Flappy_Bird" data-lightbox="example-set" data-title="Project 1"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/cir1.png" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">OOP IN JAVA</h5>


                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">OOP IN JAVA</span>

                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 item mt-md-0 mt-4">
                <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Project 2"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/cir2.jpg" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">Android Apps Development</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">Android Apps Development</span>

                    </span>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 item mt-lg-0 mt-4">
                <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Project 3"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/cir3.jpg" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">Book Reading Competetion</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">Book Reading Competetion</span>

                    </span>

                </a>
            </div>

            <div class="col-lg-4 col-md-6 item mt-4 pt-lg-2">
                <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Project 4"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/cir4.jpg" alt="Card image cap">
                    <br />

                    <h5 style="text-align:center">GCC Testimonial</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">GCC Testimonial</span>
                    </span>

                </a>
            </div>

            <div class="col-lg-4 col-md-6 item mt-4 pt-lg-2">
                <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Project 5"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/cir5.jpg" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">HSC</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">HSC</span>

                    </span>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 item mt-4 pt-lg-2">
                <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Project 6"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/cir6.jpg" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">SSC</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">SSC</span>

                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- //projects section -->

<br/>
<br/>
<!-- projects section -->
<section class="w3l-gallery pb-5" id="gallery">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 text-center mb-sm-5 mb-4">
            <h5 class="title-small mb-1">Memory</h5>
            <h3 class="title-style">Some of my University memory</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 item">
                <a href="https://github.com/Alvinirob/Flappy_Bird" data-lightbox="example-set" data-title="Project 1"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/im2.jpg" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">Attending in Robo program</h5>


                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">Attending in Robo program</span>

                    </span>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 item mt-md-0 mt-4">
                <a href="assets/images/g2.jpg" data-lightbox="example-set" data-title="Project 2"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/im1.jpg" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">Attending in program with seniors</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">Attending in program with seniors</span>

                    </span>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 item mt-lg-0 mt-4">
                <a href="assets/images/g3.jpg" data-lightbox="example-set" data-title="Project 3"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/im3.jpg" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">Attending in a Charity program</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">Attending in a Charity program</span>

                    </span>

                </a>
            </div>

            <div class="col-lg-4 col-md-6 item mt-4 pt-lg-2">
                <a href="assets/images/g5.jpg" data-lightbox="example-set" data-title="Project 4"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/im4.jpg" alt="Card image cap">
                    <br />

                    <h5 style="text-align:center">Meet with our honorable Co-Ordinator</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">Meet with our honorable Co-Ordinator</span>
                    </span>

                </a>
            </div>

            <div class="col-lg-4 col-md-6 item mt-4 pt-lg-2">
                <a href="assets/images/g6.jpg" data-lightbox="example-set" data-title="Project 5"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/im6.jpg" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">Friends</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">Friends</span>

                    </span>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 item mt-4 pt-lg-2">
                <a href="assets/images/g4.jpg" data-lightbox="example-set" data-title="Project 6"
                   class="zoom d-block">
                    <img class="card-img-bottom d-block" src="~/images/im5.jpg" alt="Card image cap">
                    <br />
                    <h5 style="text-align:center">Attending a program with Kaykobad sir</h5>

                    <span class="overlay__hover"></span>
                    <span class="hover-content">
                        <span class="title">Attending a program with Kaykobad sir</span>

                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- //projects section -->
